@inject IModalService ModalService

<EditForm Model="@Feature" OnValidSubmit="SaveFeature">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="Feature.Name" />
    </div>
    
    <div class="form-group">
        <label for="description">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="Feature.Description" />
    </div>

    <div class="form-group">
        <label for="bonus">Tag</label>
        <InputText id="bonus" class="form-control" @bind-Value="Feature.Tag" />
    </div>

    <button type="submit" class="btn btn-primary">Save Feature</button>
    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public CharacterFeature Feature { get; set; }

    private async Task SaveFeature()
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(Feature));
    }

    private async Task Cancel()
    {
        await BlazoredModal.CancelAsync();
    }
}