@inject IModalService ModalService

<EditForm Model="@Language" OnValidSubmit="SaveLanguage">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="Language.Name" />
    </div>

    <div class="form-group">
        <label for="proficiency">Proficiency</label>
        <InputSelect id="proficiency" class="form-control" @bind-Value="Language.Proficiency">
            <option value="Fluent">Fluent</option>
            <option value="Limited">Limited</option>
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary">Save Language</button>
    <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public Language Language { get; set; }

    private async Task SaveLanguage()
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(Language));
    }

    private async Task Cancel()
    {
        await BlazoredModal.CancelAsync();
    }
}