<h4>Step 4-7: Health, Stamina, Mana, and Combat Stats</h4>

<div class="form-group">
    <label for="maxHP">Max HP:</label>
    <InputNumber id="maxHP" @bind-Value="Character.MaxHitPoints" class="form-control" />
</div>

<div class="form-group">
    <label for="maxSP">Max SP:</label>
    <InputNumber id="maxSP" @bind-Value="Character.MaxStaminaPoints" class="form-control" />
</div>

<div class="form-group">
    <label for="maxMP">Max MP:</label>
    <InputNumber id="maxMP" @bind-Value="Character.MaxManaPoints" class="form-control" />
</div>

<div class="form-group">
    <label for="physicalDefense">Physical Defense:</label>
    <InputNumber id="physicalDefense" @bind-Value="Character.PhysicalDefense" class="form-control" />
</div>

<div class="form-group">
    <label for="mysticalDefense">Mystical Defense:</label>
    <InputNumber id="mysticalDefense" @bind-Value="Character.MysticalDefense" class="form-control" />
</div>

<div class="form-group">
    <label for="attackSpellCheck">Attack/Spell Check:</label>
    <InputNumber id="attackSpellCheck" @bind-Value="Character.AttackSpellCheck" class="form-control" />
</div>

<div class="form-group">
    <label for="saveDC">Save DC:</label>
    <InputNumber id="saveDC" @bind-Value="Character.SaveDifficultyCheck" class="form-control" />
</div>

<div class="form-group">
    <label for="martialCheck">Martial Check:</label>
    <InputNumber id="martialCheck" @bind-Value="Character.MartialCheck" class="form-control" />
</div>

<div class="form-group">
    <label for="moveSpeed">Move Speed:</label>
    <InputNumber id="moveSpeed" @bind-Value="Character.MoveSpeed" class="form-control" />
</div>

@code {
[Parameter]
public Character Character { get; set; }
}