@using SwDc20.WebBlazor.Pages.Characters.Containers


<CombatContainer CurrentCharacter="Character" CanEdit="true" VersionTwo="false" IsMobile="IsMobile" />
<InventoryContainer Character="@Character" CanEdit="true" IsMobile="@IsMobile" />

<hr/>

<div class="card border-success">
    <h4 class="card-header bg-success">Information</h4>

    <div class="card">
        <h5 class="card-header">
            Combat Modifiers
        </h5>
        <p >Fill out the rest of the blanks on your Character Sheet.</p>
        <p ><strong >Attack / Spell Check:</strong> +4</p>
        <p ><strong >Save DC:</strong> 14</p>
        <p><strong>Martial Check:</strong> Highest between Athletics or Acrobatics</p>
    </div>

</div>

@code {
    [Parameter] public Character Character { get; set; }
    [Parameter] public bool IsMobile { get; set; }

}