@using Blazored.Toast.Configuration

@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
            <a>Sign In (disabled)</a>
            <a>Sync Status (disabled)</a>
        </div>

        <CascadingBlazoredModal>
            @Body
        </CascadingBlazoredModal>
        @* <article class="content px-4"> *@
        @*     @Body *@
        @* </article> *@
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
